[user]
	email = slonka@users.noreply.github.com
	name = slonka
	signingkey = ~/.ssh/id_ed25519.pub
[core]
	excludesfile = ~/.gitignore_global
[init]
    defaultBranch = main
[pull]
	ff = only
[gpg]
	format = ssh
[commit]
	gpgsign = true
[tag]
	gpgsign = true
[url "git@github.com:"]
	insteadOf = https://github.com/
